################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/auto_status_ui/node_modules
