################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/auto_status_ui/node_modules
/auto_status_ui/.vs/auto_status_ui/v15/.suo
/auto_status_ui/.vs/VSWorkspaceState.json
/auto_status_ui/.vs/config
