.user-name {
    /* padding-bottom: 7px;
    padding-top: 7px;
    font-size: 15px;
    border-radius: 2px; */
    /* color: rgba(0,90,158,1);
    color: rgba(0, 90, 158, 1); */
    /* cursor: pointer; */
    /* outline: transparent;
    text-decoration: none;
    background-color: #fdfdfd;
    transition: color 80ms cubic-bezier(.165,.84,.44,1),background 80ms linear; */
    /* font-size: .875rem; */
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size: 1rem;
    font-weight: 400;
    /* color: #777676; */
    color: #323333;
}

.user-container {
    padding-bottom: 8px;
    background-color: #fff;
    
}
.notify {
    margin-left : 212px;
    margin-top: 20px;
}

.user-name-container:hover {
    background-color: #f7f7f9;
}